{% extends "ICAPReferenceBundle::base.html.twig" %}

    {% block toolbar %}
    	<a href="{{ path('icap_reference_new') }}" class="btn btn-primary"><i class="icon-bookmark icon-white"></i> Create new reference</a>
    {% endblock %}

	{% block content %}
		<div class="reference_list">

			{% if references %}

			{% for reference in references %}

			<div class="reference_box">
				<div style="float:left;height:120px;"><input type="checkbox" /></div>
				<div style="float:left; border: #eee 1px solid;">
					<img src="{{ asset('bundles/icapreference/images/disc.png') }}" width="120" />
				</div>
				<div style="float:left;padding: 10px;width:600px;">
					<a class="reference_title" href="{{ path('icap_reference_show', { 'id': reference.id }) }}">{{ reference.title }}</a><br/>
					<span class="description">{{ reference.description }}</span><br/>
					<a class="reference_link" href="{{ reference.url }}">{{ reference.url }}</a><br/>
					<div class="more_info"><img src="{{ asset('bundles/icapreference/images/infoicon.gif') }}" /> more infos...</div>
					<div class="reference_popup_info">
						{% include "ICAPReferenceBundle:Default:dataReference.html.twig" with { "reference": reference } %}
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>

			{% endfor %}

			{% else %}

			no reference yet!

			{% endif %}

		</div>
	{% endblock %}