{% extends "ICAPReferenceBundle::base.html.twig" %}

{% block toolbar %}
	<a href="#" class="btn btn-success"><i class="icon-ok icon-white"></i> Save</a>
	<a href="{{ path('icap_reference_list') }}" class="btn"><i class="icon-remove"></i> Cancel</a>
{% endblock %}

{% block content %}
	<div class="reference_new">

		<div class="reference_box">
			<div style="float:left; border: #eee 1px solid;">
				<img src="{{ asset('bundles/icapreference/images/disc.png') }}" width="120" />
			</div>
			<div style="float:left;padding: 10px;">
	

			<form name="icap_reference_choose_type" method="POST" class="form-horizontal" action="{{ path("icap_reference_choose_type") }}">
                  <div class="control-group">
                  	{{ form_label(form.url, null,  {'label_attr': {'class': 'control-label'}}) }}
				    <div class="controls">
				    	{{ form_errors(form.url) }}
				    	{{ form_widget(form.url) }}
				    </div>
				  </div>
				  <div class="control-group">
                  	{{ form_label(form.type, null,  {'label_attr': {'class': 'control-label'}}) }}
				    <div class="controls">
				    	{{ form_errors(form.type) }}
				    	{{ form_widget(form.type) }}
				    </div>
				  </div>

                {{ form_widget(form) }}
                <input type="submit" value="submit"/>
            </form>

            <script type="text/javascript">
                $('document').ready(function() {

                    var formContainer = $('<div class="form_container"></div>');
                    $('form[name="icap_reference_choose_type"]').after(formContainer);

                    $('form[name="icap_reference_choose_type"] > input[type="submit"]').hide();
                    $('#icap_referencebundle_choosereferencetype_type').on('change', function() {
                        $('form[name="icap_reference_choose_type"]').submit();
                    });

                    $('form[name="icap_reference_choose_type"]').on('submit', function (event) {
                        event.preventDefault();
                        var form = $(this);
                        if(form.find('select[name="icap_referencebundle_choosereferencetype[type]"]').val() != '') {
                            $.post(form.attr('action'), form.serialize())
                            .always(function() { 
                                formContainer.empty();
                            })
                            .done(function(data) { 
                                formContainer.append(data);
                            });
                        } else {
                            formContainer.empty();
                        } 
                    });

                    $('form[name="icap_reference_choose_type"]').submit();
                });
            </script>


			</div>
			<div style="clear:both;"></div>
		</div>

	</div>
{% endblock %}
